---
import Layout from '../layouts/Layout.astro';
import { OpinionView } from '@/components/opinions/OpinionView';

---

<Layout title="MuyApp - Tu Compañero Universitario">
    <main>
        <OpinionView client:load/>
        
    </main>
</Layout>