---
import { getOpinions } from '@/services/opinion.service';
import Layout from '../layouts/Layout.astro';
import { OpinionView } from '@/components/opinions/OpinionView';
import type { Opinion } from '@/interfaces/Opinion';

---

<Layout title="MuyFadu - Tu Compañero Universitario">
    <main>
        <OpinionView client:load/>
    </main>
</Layout>