---
import Layout from "@/layouts/Layout.astro";
import MyOpinionsView from "@/components/opinions/MyOpinionsView";
---

<Layout title="Mis Opiniones - Muyfadu">
  <main>
    <MyOpinionsView client:load/>
  </main>
</Layout>