---
import Header from '@/components/shared/Header.astro';
import '../styles/global.css';
import { AuthProvider } from '@/context/AuthContext';
import { AuthInitializer } from '@/components/AuthInitializer';
import { Toaster } from 'sonner';
import OnboardingModal from '@/components/OnboardingModal';
import { ModalProvider } from '@/components/shared/Providers/Modals';
import AppMetaTags from '@/components/shared/AppMetaTags.astro';
import FacultyInitializer from '@/components/FacultyInitializer';
import ContentLoader from '@/components/shared/ContentLoader';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Plataforma de opiniones estudiantiles sobre materias, profesores y carreras universitarias. Comparte tu experiencia y ayuda a otros estudiantes.">
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo.png" />
        <!-- <meta name="generator" content={Astro.generator} /> -->
        <title>{title}</title>
        <AppMetaTags />
    </head>
    <body>
        <AuthInitializer client:load/>
        <FacultyInitializer client:load/>
        <Toaster client:load />
        <OnboardingModal client:load/>
        <ModalProvider client:load />
        <Header/>
        <ContentLoader client:idle>
            <slot />
        </ContentLoader>
    </body>
</html>